/*CSS Document by Jaroslav Beredi*/
body {
  /*font-family: 'Istok Web', sans-serif;*/
  font-family: "Poppins", sans-serif;
  color: #2c327f;
}

.bold {
  font-weight: bold;
}

.top {
  margin-top: 15px;
}

.top2 {
  margin-top: 30px;
}

.topMd {
  margin-top: 5px;
}

.headerText {
  font-size: 13pt;
}

.headerTextSm {
  font-size: 20pt;
}

.headerTextMd {
  font-size: 10pt;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  margin-top: 10px;
}

.carousel-title {
  color: white;
  font-size: 20pt;
}

.footer {
  padding: 30px 0;
  background-color: #2c327f;
  color: #fff;
}

.footerMargin {
  margin: 20px 0px 0px 10px;
}

.topFooter {
  margin-top: 20px;
}

.footerBott {
  background-color: #2c327f;
  color: #fff;
}

a.footer-anchor-tag {
  color: #f2f4fb;
}

a.footer-anchor-tag:hover {
  color: #dddddd;
  text-decoration: none;
}

ul.footer-menu {
  list-style-type: circle;
  padding-left: 15px;
}

ul.footer-menu li {
  padding-bottom: 10px;
}

#fixed {
  position: fixed;
  width: 100%;
  background-color: #2c327f;
  bottom: 0;
}

.linkO {
  opacity: 0.7;
}

.linkO:hover {
  opacity: 1;
}

.media-body {
  border-top: 0px;
  padding: 5px;
  color: #2c327f;
  height: 160px;
}

.media-top {
  width: 360px; /* Desired width */
  height: 240px; /* Desired height */
  overflow: hidden; /* Hide overflowing content */
  position: relative;
}

.media-top a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smallText {
  font-size: 9px;
}

.nextEvent .media-body {
  border-top: 1px solid rgba(44, 50, 127, 0.5);
  border-right: 1px solid rgba(44, 50, 127, 0.5);
  border-bottom: 1px solid rgba(44, 50, 127, 0.5);
  border-left: 0px;
}

.text-primary {
  color: rgba(44, 50, 127, 0.8);
}

.content {
  padding-top: 100px;
}

.menu-padding {
  padding-top: 40px;
}

h1 {
  color: #2c327f;
}

h1 small {
  font-size: 15px;
}

h2 {
  color: #2c327f;
}

h2 > small {
  font-size: 15px;
}

.clanok {
  margin: 10px 0 10px 0;
}

.clanokBody {
  color: #2c327f;
  -webkit-box-shadow: #d6d7ff 2px 2px 1px;
  -moz-box-shadow: #d6d7ff 2px 2px 1px;
  box-shadow: #d6d7ff 2px 2px 1px;
}

img.clanok {
  margin: 20px auto;
}

.media {
  margin: 5px;
}

.clanokMedia {
  margin: 10px auto;
}

.contact {
  color: #2c327f;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 130%;
  text-align: center;
}

.contact > * {
  color: #2c327f;
}

.contact-info {
  padding-top: 10px;
}

.contactContainer {
  background-color: rgba(40, 50, 127, 1);
  min-height: 30vh;
}

label {
  margin-top: 5px;
  font-weight: normal;
}

.contact small {
  color: #c4c7fa;
}

.form-group button {
  margin-top: 10px;
}

textarea {
  resize: none;
}

.photoGallery img,
.gallery img {
  opacity: 0.8;
}

.photoGallery img:hover,
.gallery img:hover {
  opacity: 1;
}

.thumbnail p {
  color: #6c757d;
}

.about:first-letter {
  font-size: 200%;
  font-weight: bold;
}

img.about {
  opacity: 1;
}

a.btn-primary {
  background: -webkit-linear-gradient(
    #3841d1,
    #2c327f
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3841d1, #2c327f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #3841d1,
    #2c327f
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3841d1, #2c327f); /* Standard syntax */
}

a.btn-secondary {
  background: -webkit-linear-gradient(
    #98989a,
    #474749
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#98989a, #474749); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #98989a,
    #474749
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#98989a, #474749); /* Standard syntax */
  color: #eeeeee;
}

a.btn-secondary:hover {
  background: -webkit-linear-gradient(
    #6f6f71,
    #2e2e30
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6f6f71, #2e2e30); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #6f6f71,
    #2e2e30
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6f6f71, #2e2e30); /* Standard syntax */
  color: #ffffff;
}

.form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.italic {
  font-style: italic;
}

.contentBody img {
  width: 100% !important;
  height: auto !important;
}

.contentBody,
.contentPageBody {
  margin-top: 10px;
  padding-bottom: 40px;
  font-size: 125%;
}

hr {
  margin: 0;
}

.galleryItem {
  width: 100px;
  margin: 5px auto;
}

ul.pager li a.active-page {
  background: linear-gradient(#3841d1, #2c327f);
  color: #ffffff;
}

.success-message {
  border-radius: 5px;
  border: 5px solid rgba(3, 47, 3, 0.3);
  padding: 10px;
  color: #072301;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right !important;
  }
}

.padding-footer-text div {
  padding: 10px 0px;
}

.padding-footer-text p,
.padding-footer-text div p {
  margin: 0;
}

.header {
  height: 80vh; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-background {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
  z-index: 100;
  min-height: 100px;
}

.navbar-center {
  padding-top: 9px;
}

.heading-text {
  margin-top: auto;
  text-align: center;
  padding-bottom: 40px;
  overflow: hidden; /* Hide overflowing content */
}

.heading-text h1 {
  color: #ffffff;
}

.heading-text p {
  font-size: 130%;
  color: rgb(219, 219, 219);
}

.articles {
  padding-top: 70px;
  padding-bottom: 70px;
}

.last-articles {
  padding-top: 30px;
}

/* Keyframes for the slideIn animation */
@keyframes slideInH1 {
  from {
    transform: translateX(-100%); /* Start off-screen left */
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    transform: translateX(0); /* Slide in to the default position */
    opacity: 1; /* Show text with full opacity */
  }
}

/* Keyframes for the fadeIn animation */
@keyframes slideInP {
  from {
    transform: translateY(50%); /* Start off-screen left */
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    transform: translateY(0); /* Slide in to the default position */
    opacity: 1; /* Show text with full opacity */
  }
}

.heading-text h1 {
  margin: 0;
  padding: 0;
  animation: slideInH1 1s forwards; /* Apply the slideIn animation */
  opacity: 0; /* Start with 0 opacity */
}

.heading-text p {
  margin: 0;
  padding: 0;
  animation: slideInP 1.5s forwards; /* Apply the slideIn animation */
  opacity: 0; /* Start with 0 opacity */
}

.radio-section {
  background: url("../images/radio-background.jpg") rgba(255, 255, 255);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.radio-logo img {
  margin: 5px 10px;
}

.radio-logo div a img {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; /* Apply transition effect */
}

.radio-logo div a img:hover {
  opacity: 0.8;
}

.action-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.paragraph-text {
  font-size: 120%;
}

.article-infobar {
  padding-bottom: 10px;
}

.btn-light {
  transition: background-color 0.2s ease-in-out; /* Apply transition effect */
  border: 1px solid rgb(196, 243, 253);
  color: #2b307a;
}

.btn-light:hover {
  background-color: rgb(196, 243, 253);
  color: #1a1e4f;
}

.sidebar {
  padding: 30px 10px;
}

.btn-warning {
  background: linear-gradient(to bottom, #f0d83d 0, #a88d05 100%) !important;
  border: 1px solid #ccd144 !important;
}

.btn-warning:hover {
  background: linear-gradient(to bottom, #ccd144 0, #868204 100%) !important;
}
